body {
  justify-content: center;
  align-items: center;
  display: block;
  background: black;
}

.dungeon > canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2%;
}

.menu {
  height: 7vw;
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
}

.menu > button {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  width: 60%;
  height: 25%;
  color: white;
  background: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1vw;
}

.menu > button:hover {
  color: black;
  background: white;
}

.divider {
  height: auto;
  display: inline-block;
  width: 3vw;
}

.logo {
  width: 25%;
  height: 7vw;
  background: black;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo:hover {
  background: none;
}

.logoImage {
  width: 25%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage > img {
  filter: brightness(0) invert(1);
  width: 100%;
}

.logoImage > p {
  font-family: "Rubik Glitch", sans-serif;
  font-size: 3vw;
  position: absolute;
  text-align: center;
  color: white;
}

.logoText {
  height: 100%;
  overflow: hidden;
  width: 75%;
  float: left;
}

.logoText > h1 {
  text-transform: uppercase;
  text-align: center;
	background-color: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2vw;
  line-height: 2vw;
}

.logoText > p {
  text-align: center;
  text-transform: uppercase;
	background-color: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2vw;
  margin: 0px;
  line-height: 1.2vw;
}

.noteContainer {
  position: absolute;
  top: 97%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(220, 220, 220);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1vw;
}

.about {
  background: white;
  color: black;
  clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
  font-family: "Tahoma", sans-serif;
}

.about > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7vw;
  margin: 0;
}

.projects {
  color: white;
  padding: 10rem 20%;
  font-family: "Tahoma", sans-serif;
}

.projects > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7vw;
  margin: 0;
  color: white;
}

.contact {
  background: white;
  color: black;
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
  padding: 10rem 20%;
  font-family: "Tahoma", sans-serif;
}

.contact > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7vw;
  margin: 0;
}

.featured {
  position: relative;
  margin-bottom: 10%;
}

.featuredImage {
  width: 40%;
}


.featuredImage > img {
  width: 100%;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.featuredImage > img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.featuredText {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0%;
  font-family: "Tahoma", sans-serif;
}

.featuredText > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3vw;
}

.backBorder {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
}

.otherProjects {
  text-align: center;
  color: white;
  margin-top: 20%;
}

.otherProjects > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2vw;
}

.otherProjects > img {
  filter: brightness(0) invert(1);
  width: 20%;
}
